.crash {
  margin-top: 12px;
  color: #ff3b3b;
  background-color: #000;
  padding: 14px;
  border-radius: 4px;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4;

  /* nieregularne mruganie */
  animation: systemBlink 3.5s steps(1, end) infinite;
}

/* styl errora */
@keyframes systemBlink {
  /* normalnie świeci */
  0%   { opacity: 1; }
  82%  { opacity: 1; }

  /* krótkie „zgaśnięcie” */
  83%  { opacity: 0; }
  85%  { opacity: 1; }

  /* znowu długo OK */
  95%  { opacity: 1; }

  /* drugi, krótszy blink */
  96%  { opacity: 0; }
  97%  { opacity: 1; }

  100% { opacity: 1; }
}
